<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>TinyURL Demo</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </head>

  <body class="text-center">
    <div class="form-signin">
      <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Please key in</h1>
      <label for="input_url" class="sr-only">INPUT</label>
      <input type="email" id="input_url" class="form-control" placeholder="Input url" required autofocus>
      <label for="output_url" class="sr-only">OUTPUT</label>
      <div id="output_url" class="form-control" placeholder="short url" required></div>
      <button class="turn2url btn btn-lg btn-primary btn-block">Transpose</button>
    </div>
  </body>

  <script type="text/javascript">
    const submit_btn = document.querySelector('button');
    submit_btn.addEventListener('click', e => {
        if(e.target.classList.contains('turn2url')){
            const entry = document.getElementById('input_url').value;
            fetch('shortURL', {
                method:'POST',
                body:JSON.stringify(entry),
                headers:{'Content-Type':'application/json'}
            }).then(res => res.json())
              .then(function(res){
                document.getElementById('output_url').innerHTML ="<a href="+res['key']+">" + res['key'] + "</a>";
            })
    }});
</script>
</html>